@import 'reset';
@import 'variables';

* {
	//box-sizing: border-box;
}

body {
	font-family: $font-primary;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import 'utility';
@import 'patterns';
