.label, .output {
	@apply .inline-block .p-2 .rounded;
	
	& + .output {
		@apply .ml-2;
	}
}

.label {
	@apply .bg-grey .text-xs;
}

.output {
	@apply .bg-purple .text-light .text-xs;
}

.outputs {
	.output {
		@apply .block .ml-0;
		
		& + .output {
			@apply .block .mt-2;
		}
	}
}

.button, .input {
	@apply .font-bold .text-xs .py-2 .px-4 .rounded .appearance-none;
	
	&.orange {
		@apply .bg-orange .text-light;
	}
	
	&:hover, &:disabled {
		@apply .opacity-75;
	}
}

.hexagon {
  @apply relative;
  margin: -15.25% 0;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  
  &:before {
    @apply absolute z--1;
    content: "";
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
}