h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
		  
h1, .h1 {
  font-size: 3.1rem;
  line-height: 1.5;
}

h2, .h2 {
  font-size: 2.3rem;
  line-height: 1.5;
}

h3, .h3 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h4, .h4 {
  font-size: 1.5rem;
  line-height: 1.5;
}

h5, .h5 {
  font-size: 1.3rem;
  line-height: 1.5;
}

h6, .h6 {
  font-size: 0.8rem;
  line-height: 1.5;
}

p, li {
	vertical-align: middle;
	font-size: 1rem;
}

ul, ol {
	padding-left: 1rem;
	
	li {
		list-style: circle;
	}
}

code {
	display: inline-block;
	vertical-align: middle;
	background: $sky;
	color: $purple;
	font-family: $font-monospace;
	padding: 0.25rem;
	font-size: 0.75rem;
	border-radius: 0.2rem;
}

label {
	display: inline-block;
	vertical-align: middle;
	background: $dark;
	color: $light;
	padding: 0.5rem;
	font-size: 1rem;
	line-height: 1;
	font-style: italic;
	border-radius: 0.2rem;
	margin: 0;
	
	&:after {
		content: "";
	}
}

input {
	display: inline-block;
	vertical-align: middle;
	font-size: 1rem;
	line-height: 1;
	padding: 0.5rem;
	border-radius: 0.2rem;
	border: 1px solid $dark;
	margin: 0;
}