$dark: #222;
$light: #fbfbfb;
$grey: #ddd;
$purple: #403ce0;
$sky: #dad9fb;
$orange: #ff7d5c;
$peach: #fad9d0;

$font-primary: 'Helvetica', 'Arial', sans-serif;
$font-monospace: 'Menlo', 'Courier', sans-serif;