/**
 * Shared styles for AbilitySlotted components.
 */
.ability-available {
  @apply relative
  w-80 h-32
  m-4
  text-light;

  &:before,
  &:after {
    @apply absolute pin clip-parallelogram;
    content: '';
  }

  &:before {
    @apply bg-stain bg-stain-ash-50 z-1;
    top: 1px;
    left: 2px;
    bottom: 1px;
    right: 1px;
  }

  &:after {
    @apply bg-light z-0;
  }

  &__header {
    @apply relative
    w-full h-6
    py-1 pl-10
    z-10;

    &-title {
      @apply uppercase;
    }
  }

  &__factors {
    @apply h-16
    ml-16
    pl-16 pb-2
    z-10;
  }

  &__content {
    @apply relative
    hidden
    h-16
    ml-16
    pl-16 pr-2 pb-2
    z-10;

    &-dependencies,
    &-dependants {
      @apply flex flex-wrap
      justify-between content-center
      w-1/2;

      > * {
        @apply -my-1 order-3 mx-auto;

        &:first-child {
          @apply order-1 mx-0;
        }

        &:last-child {
          @apply mx-0 order-2;
        }
      }
    }

    &-dependencies {
      @apply pr-1;
    }

    &-dependants {
      @apply flex-wrap-reverse pl-1;
    }
  }

  &__actions {
    @apply relative
    flex
    items-start justify-end
    h-10
    ml-16
    pl-16 pr-2 pb-2
    z-10;

    &-installable,
    &-researchable {
      @apply flex-no-grow
      w-1/2;
    }

    &-installable {
      @apply mr-1;
    }

    &-researchable {
      @apply ml-1;
    }
  }

  &__icon {
    @apply absolute
    pin-l pin-t
    ml-3 mt-6
    z-20;

    &-background {
      @apply absolute
      pin-l pin-t
      ml-1 mt-4
      bg-tile;
    }
  }

  &__tree {
    @apply absolute
    pin-l pin-t
    -ml-3 -mt-1 mb-2
    z-10;

    &-background {
      @apply absolute
      pin-l pin-t
      -ml-5 -mt-3;
    }
  }

  &__era {
    @apply absolute
    pin-l pin-b
    w-3
    mb-10
    z-10;
  }

  &:hover {
    .ability-available {
      &__factors {
        @apply hidden;
      }

      &__content {
        @apply flex;
      }
    }
  }
}
