/**
 * Shared styles for BaseHexagon components.
 */
.hexagon {
  @apply relative  w-48 h-hex*48 clip-hexagon;
  margin: -13.333% config('margin.1');

  &:before {
    @apply absolute z--1 clip-hexagon;
    content: '';
  }

  &--tile {
    background-color: none;

    > * {
      @apply relative z-10;
    }

    &:before {
      @apply absolute pin z-2;
      background-position: left top, left top, center top;
      background-repeat: repeat, repeat, no-repeat;
      background-size: auto, auto, cover;
      background-attachment: fixed, fixed, fixed;
    }
  }

  @each $label, $color in $colorList {
    &--#{$label} {
      &:before {
        background-image: linear-gradient(
            config('colors.#{$label}-50') 0%,
            config('colors.#{$label}-50') 100%
          ),
          config('backgrounds.tile'), config('backgrounds.gradient');
      }
    }
  }
}
