/**
 * Shared styles for BaseBadge components.
 */
.badge {
  @apply relative
  inline-flex flex-no-shrink
  items-center justify-center
  overflow-hidden
  rounded-full;

  &:before {
    @apply absolute pin z-1 bg-stain;
  }

  > * {
    @apply z-2;
  }

  &--empty {
    @apply opacity-10;
  }

  &--inactive {
    @apply opacity-50;
  }

  &--size {
    &-tiny {
      @apply w-8 h-8;
    }

    &-small {
      @apply w-12 h-12;
    }

    &-medium {
      @apply w-16 h-16;
    }

    &-large {
      @apply w-24 h-24;
    }

    &-larger {
      @apply w-28 h-28;
    }
  }

  &--border {
    &-size {
      &-small {
        @apply border;
      }

      &-medium {
        @apply border-2;
      }

      &-large {
        @apply border-4;
      }
    }

    @include --colors($property: 'border', $delimit: '-');
  }

  @include --colors($property: 'bg');
  @include --colors($property: 'bg', $postfix: '-50', $modifier: 'fade');
  @include --colors(
    $property: 'bg-stain',
    $pseudo: 'before',
    $postfix: '-50',
    $modifier: 'stain'
  );
}
