/**
 * Shared styles for SocketSlot components.
 */
.socket-slot {
  @apply mx-1 -mt-hex/16;

  &--top-left {
    grid-area: a;
  }

  &--top-right {
    grid-area: b;
  }

  &--left {
    grid-area: c;
  }

  &--right {
    grid-area: e;
  }

  &--bottom-left {
    grid-area: f;
  }

  &--bottom-right {
    grid-area: g;
  }
}
