$colorList: (
  dark: #000,
  dark-10: rgba(0,0,0,0.1),
  dark-25: rgba(0,0,0,0.25),
  dark-50: rgba(0,0,0,0.5),
  dark-75: rgba(0,0,0,0.75),
  dark-90: rgba(0,0,0,0.9),
  ash: #666,
  ash-10: rgba(102,102,102,0.1),
  ash-25: rgba(102,102,102,0.25),
  ash-50: rgba(102,102,102,0.5),
  ash-75: rgba(102,102,102,0.75),
  ash-90: rgba(102,102,102,0.9),
  grey: #bbb,
  grey-10: rgba(187,187,187,0.1),
  grey-25: rgba(187,187,187,0.25),
  grey-50: rgba(187,187,187,0.5),
  grey-75: rgba(187,187,187,0.75),
  grey-90: rgba(187,187,187,0.9),
  light: #fff,
  light-10: rgba(255,255,255,0.1),
  light-25: rgba(255,255,255,0.25),
  light-50: rgba(255,255,255,0.5),
  light-75: rgba(255,255,255,0.75),
  light-90: rgba(255,255,255,0.9),
  sky: #68abe7,
  sky-10: rgba(104,171,231,0.1),
  sky-25: rgba(104,171,231,0.25),
  sky-50: rgba(104,171,231,0.5),
  sky-75: rgba(104,171,231,0.75),
  sky-90: rgba(104,171,231,0.9),
  blue: #353d77,
  blue-10: rgba(53,61,119,0.1),
  blue-25: rgba(53,61,119,0.25),
  blue-50: rgba(53,61,119,0.5),
  blue-75: rgba(53,61,119,0.75),
  blue-90: rgba(53,61,119,0.9),
  navy: #20364b,
  navy-10: rgba(32,54,75,0.1),
  navy-25: rgba(32,54,75,0.25),
  navy-50: rgba(32,54,75,0.5),
  navy-75: rgba(32,54,75,0.75),
  navy-90: rgba(32,54,75,0.9),
  midnight: #122356,
  midnight-10: rgba(18,35,86,0.1),
  midnight-25: rgba(18,35,86,0.25),
  midnight-50: rgba(18,35,86,0.5),
  midnight-75: rgba(18,35,86,0.75),
  midnight-90: rgba(18,35,86,0.9),
  science: #74ebcf,
  science-10: rgba(116,235,207,0.1),
  science-25: rgba(116,235,207,0.25),
  science-50: rgba(116,235,207,0.5),
  science-75: rgba(116,235,207,0.75),
  science-90: rgba(116,235,207,0.9),
  society: #f4838e,
  society-10: rgba(244,131,142,0.1),
  society-25: rgba(244,131,142,0.25),
  society-50: rgba(244,131,142,0.5),
  society-75: rgba(244,131,142,0.75),
  society-90: rgba(244,131,142,0.9),
  economy: #fbeb69,
  economy-10: rgba(251,235,105,0.1),
  economy-25: rgba(251,235,105,0.25),
  economy-50: rgba(251,235,105,0.5),
  economy-75: rgba(251,235,105,0.75),
  economy-90: rgba(251,235,105,0.9),
  influence: #76a5ff,
  influence-10: rgba(118,165,255,0.1),
  influence-25: rgba(118,165,255,0.25),
  influence-50: rgba(118,165,255,0.5),
  influence-75: rgba(118,165,255,0.75),
  influence-90: rgba(118,165,255,0.9),
  confidence: #76a5ff,
  confidence-10: rgba(118,165,255,0.1),
  confidence-25: rgba(118,165,255,0.25),
  confidence-50: rgba(118,165,255,0.5),
  confidence-75: rgba(118,165,255,0.75),
  confidence-90: rgba(118,165,255,0.9),
  bandwidth: #94e4f8,
  bandwidth-10: rgba(148,228,248,0.1),
  bandwidth-25: rgba(148,228,248,0.25),
  bandwidth-50: rgba(148,228,248,0.5),
  bandwidth-75: rgba(148,228,248,0.75),
  bandwidth-90: rgba(148,228,248,0.9),
  data: #94e4f8,
  data-10: rgba(148,228,248,0.1),
  data-25: rgba(148,228,248,0.25),
  data-50: rgba(148,228,248,0.5),
  data-75: rgba(148,228,248,0.75),
  data-90: rgba(148,228,248,0.9),
  neutral: #a6d3ff,
  neutral-10: rgba(166,211,255,0.1),
  neutral-25: rgba(166,211,255,0.25),
  neutral-50: rgba(166,211,255,0.5),
  neutral-75: rgba(166,211,255,0.75),
  neutral-90: rgba(166,211,255,0.9)
);
