@layer utilities {
  .clip-corners {
    clip-path: polygon(
      0.333rem 0%,
      calc(100% - 0.333rem) 0%,
      100% 0.333rem,
      100% calc(100% - 0.333rem),
      calc(100% - 0.333rem) 100%,
      0.333rem 100%,
      0% calc(100% - 0.333rem),
      0% 0.333rem
    );
  }
  .clip-2-corners {
    clip-path: polygon(
      0.666rem 0%,
      100% 0%,
      100% calc(100% - 0.666rem),
      calc(100% - 0.666rem) 100%,
      0% 100%,
      0% 0.666rem
    );
  }
  .clip-hexagon {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
  .clip-parallelogram {
    clip-path: polygon(
      calc(100% - 1.5rem) 0,
      100% 1.5rem,
      100% 100%,
      40% 100%,
      0 0
    );
  }
  .clip-1-corner {
    clip-path: polygon(0 0%, 75% 0%, 100% 100%, 0 100%);
  }

  .bg-dots {
    --dots-x: linear-gradient(to right, var(--dots-color) 1px, transparent 1%);
    --dots-y: linear-gradient(to bottom, var(--dots-color) 1px, transparent 1%);
    background-image: var(--dots-x), var(--dots-y);
    background-position: center center;
    background-size: 4px 4px;
  }
  .bg-tile {
    background-image: var(--image-tile),
      radial-gradient(circle at 50% 100%, var(--tw-gradient-stops));
    background-position: left top, center top;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: fixed, fixed;
  }
  .bg-grout {
    --grout: linear-gradient(var(--grout-color) 0%, var(--grout-color) 100%);
    background-image: var(--grout), var(--image-tile),
      radial-gradient(circle at 50% 100%, var(--tw-gradient-stops));
    background-position: left top, left top, center top;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    background-attachment: fixed, fixed, fixed;
  }
}
