@import url("//fonts.googleapis.com/css?family=Titillium+Web:400,700");

:root {
  --image-tile: url(../assets/bg/tile.svg);

  --image-base: url(../assets/score/base.svg);
  --image-factor: url(../assets/score/factor.svg);
  --image-data: url(../assets/score/data.svg);
  --image-confidence: url(../assets/score/confidence.svg);
  --image-bandwidth: url(../assets/score/bandwidth.svg);
  --image-influence: url(../assets/score/influence.svg);

  --image-trees: url(../assets/tree/trees.svg);
  --image-neutral: url(../assets/tree/neutral.svg);
  --image-science: url(../assets/tree/science.svg);
  --image-economy: url(../assets/tree/economy.svg);
  --image-society: url(../assets/tree/society.svg);

  --image-eras: url(../assets/era/eras.svg);
  --image-hobbyist: url(../assets/era/hobbyist.svg);
  --image-university: url(../assets/era/university.svg);
  --image-business: url(../assets/era/business.svg);
  --image-government: url(../assets/era/government.svg);
  --image-consciousness: url(../assets/era/consciousness.svg);

  --image-happiness: url(../assets/emotion/happiness.svg);
  --image-sadness: url(../assets/emotion/sadness.svg);
  --image-excitement: url(../assets/emotion/excitement.svg);
  --image-fear: url(../assets/emotion/fear.svg);
  --image-tenderness: url(../assets/emotion/tenderness.svg);
  --image-anger: url(../assets/emotion/anger.svg);

  --image-inventory: url(../assets/nav/inventory.svg);

  --image-empty: url(../assets/ability/empty.svg);
  --image-unknown: url(../assets/ability/unknown.svg);
  --image-view: url(../assets/ability/view.svg);
  --image-attributes: url(../assets/ability/attributes.svg);
  --image-synergies: url(../assets/ability/synergies.svg);
  --image-buzzie: url(../assets/ability/buzzie.svg);
  --image-gamebryo: url(../assets/ability/gamebryo.svg);

  --dots-x: linear-gradient(to right, var(--dot-color) 1px, transparent 1%);
  --dots-y: linear-gradient(to bottom, var(--dot-color) 1px, transparent 1%);
  --grout-color: theme("colors.ash");
  --grout: linear-gradient(var(--grout-color) 0%, var(--grout-color) 100%);
  --radial: radial-gradient(circle at 50% 100%, var(--gradient-color-stops));
}

@tailwind base;
@tailwind components;
// @tailwind utilities;

* {
  outline: none !important;
  -webkit-transform: translate3d(0, 0, 0);
}
