$colorList: (
  dark: #000,
  light: #FFF,
  grey: #DDD,
  sky: #68ABE7,
  blue: #353D77,
  navy: #20364B,
  midnight: #122356,
  science: #74EBCF,
  society: #F4838E,
  economy: #FBEB69,
  influence: #76A5FF,
  confidence: #76A5FF,
  bandwidth: #94E4F8,
  data: #94E4F8,
  neutral: #A6D3FF
);
