$colors: (
  transparent: transparent,
  dark: #000,
  light: #fff,
  grey: #ddd,
  purple: #403ce0,
  sky: #dad9fb,
  orange: #ff7d5c,
  peach: #fad9d0,
  blue-light: #69b5ff,
  blue: #353d77,
  blue-dark: #122356,
  science: #74ebcf,
  society: #f4838e,
  economy: #fbeb69,
  influence: #76a5ff,
  bandwidth: #94e4f8,
  neutral: #a6d3ff,
  emotions: green
);
$backgrounds: (
  tile: url(/assets/img/tile.svg),
  dots-h: linear-gradient(90deg, #000 1px, transparent 1%),
  dots-v: linear-gradient(#000 1px, transparent 1%),
  gradient: radial-gradient(50% 100%, #353d77 2%, #122356 42%, #000 100%)
);
$opacity: (
  0: 0,
  25: .25,
  50: .5,
  75: .75,
  90: .9,
  100: 1
);
