$colors: (
  transparent: transparent,
  dark: #000,
  light: #FFF,
  grey: #DDD,
  sky: #68ABE7,
  blue: #353D77,
  navy: #20364B,
  midnight: #122356,
  science: #74EBCF,
  society: #F4838E,
  economy: #FBEB69,
  influence: #76A5FF,
  confidence: #76A5FF,
  bandwidth: #94E4F8,
  data: #94E4F8,
  neutral: #A6D3FF
);
$backgrounds: (
  tile: url(/assets/img/tile.svg),
  dotted-horizontal: linear-gradient(to right, #000 1px, transparent 1%),
  dotted-vertical: linear-gradient(#000 1px, transparent 1%),
  gradient: radial-gradient(50% 100%, #353D77 2%, #122356 42%, #000 100%)
);
$opacity: (
  0: 0,
  10: 0.1,
  25: 0.25,
  50: 0.5,
  75: 0.75,
  90: 0.9,
  100: 1
);
