@import 'placeholders';

button {
  &:focus {
    @apply outline-none;
  }
}

.button,
.input {
  @apply clip-corners outline-none;
}

.hexagon {
  @apply relative clip-hexagon;
  margin: -13.333% 0.25rem;

  &:before {
    @apply absolute z--1 clip-hexagon;
    content: '';
  }

  &.bg-tile-overlay {
    &:after {
      left: -50%;
      top: -50%;
      width: 200%;
      height: 200%;
      transform: rotate(45deg);
    }
  }
}

.bg-tile-overlay {
  > * {
    @apply relative z-10;
  }

  &:before {
    @apply absolute pin;
    content: '';
    background-position: left top, left top, center top;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    background-attachment: fixed, fixed, fixed;
    z-index: 2;
  }

  &:after {
    @apply absolute pin;
    content: '';
    z-index: 1;
  }

  @each $c, $color in $colors {
    &.bg-#{$c} {
      background-color: none;

      &:before {
        background-image: linear-gradient(
            rgba($color, 0.25) 0%,
            rgba($color, 0.25) 100%
          ),
          map-get($backgrounds, tile), map-get($backgrounds, gradient);
      }
    }
  }
}
