@import "$variables";

@each $c, $color in $colors {
  @each $o, $opaque in $opacity {
    &.bg-#{$c}-#{$o} {
      background-color: rgba($color, $opaque);
    }
  }
}

.button,
.input {
  @apply clip-corners;
}

.tile,
%tile {
  background-image: map-get($backgrounds, tile), map-get($backgrounds, gradient);
  background-position: left top, center top;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: fixed, fixed;
}

.hexagon {
  @apply relative clip-hexagon;
  margin: -13.333% 0.25rem;

  &:before {
    @apply absolute z--1 clip-hexagon;
    content: "";
  }
}
