@import "$variables";

@each $c, $color in $colors {
  @each $o, $opacity in $opacities {
    &.bg-#{$c}-#{$o} {
      background-color: rgba($color, $opacity);
    }
  }
}

/*.label, .output {
	@apply .inline-block .p-2 .rounded;
	
	& + .output {
		@apply .ml-2;
	}
}

.label {
	@apply .bg-grey .text-xs;
}

.output {
	@apply .bg-purple .text-light .text-xs;
}

.outputs {
	.output {
		@apply .block .ml-0;
		
		& + .output {
			@apply .block .mt-2;
		}
	}
}

.button, .input {
	@apply .font-bold .text-xs .py-2 .px-4 .rounded .appearance-none;
	
	&.orange {
		@apply .bg-orange .text-light;
	}
	
	&:hover, &:disabled {
		@apply .opacity-75;
	}
}*/

.button,
.input {
  @apply clip-corners;
}

.tile,
%tile {
  background-image: map-get($backgrounds, tile), map-get($backgrounds, gradient);
  background-position: left top, center top;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: fixed, fixed;
}

.hexagon {
  @apply relative clip-hexagon;
  margin: -13.333% 1.666%;

  &:before {
    @apply absolute z--1 clip-hexagon;
    content: "";
  }
}
